# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
*.env
*.venv

# Flask files
instance/
uploads/
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# PyCharm
.idea/

# VSCode
.vscode/

# Cache and temporary files
*.cache
*.tmp
*.bak
